
<html>
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{title}}</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://mac1xa3.ca/e/puy4/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   {%if user.is_authenticated %}
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <a class="nav-item nav-link active" href="https://mac1xa3.ca/e/puy4/notes">Notes <span class="sr-only">(current)</span></a>

    </div>
  </div>
  {% endif %}
</nav>

  <style>
    #usernamedisplay {font-size: 75%;}
    .footer {position: fixed;left:0;bottom: 0;width: 100%;background-color: red; color: white; text-align: center;}
  </style>
   <div class="container">
   <div class="jumbotron text-center">
     <svg width="141" height="106" xmlns="http://www.w3.org/2000/svg">
      <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
      <g>
       <title>background</title>
       <rect fill="none" id="canvas_background" height="108" width="143" y="-1" x="-1"/>
       <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
        <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
       </g>
      </g>
      <g>
       <title>Layer 1</title>
       <line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_2" y2="84.75" x2="52.749999" y1="86.75" x1="49.749999" stroke-width="1.5" stroke="#000" fill="none"/>
       <rect stroke="#000" id="svg_3" height="104.00001" width="85.999998" y="0.75" x="0.75" stroke-width="1.5" fill="#fff"/>
       <path stroke="#000" d="m12.749999,8.75c0.416667,0 1.25,0 5.416667,0c3.75,0 9.583334,0 15.416667,0c3.333334,0 6.666667,0 8.333334,0l0.833333,0l0,0" id="svg_8" stroke-width="1.5" fill="none"/>
       <path stroke="#000" d="m1.749999,27.75c0,0 0.58209,0 2.328358,0c6.985075,0 13.970151,0 21.537316,0c6.985075,0 10.477613,0 12.805972,0c1.164179,0 1.746269,0 1.746269,0l0.58209,0" id="svg_9" stroke-width="1.5" fill="none"/>
       <path stroke="#000" d="m7.749999,36.75c0,0 0,0 1.918033,0c6.393443,0 11.508197,0 24.295082,0c5.114754,0 8.95082,0 11.508197,0l0.639344,0l0.639344,0" id="svg_10" stroke-width="1.5" fill="none"/>
       <path stroke="#000" d="m8.749999,86.75c0,0 0,0 5,0c6,0 16,0 24,0c6,0 11,0 15,0l2,0l1,0" id="svg_11" stroke-width="1.5" fill="none"/>
       <path d="m4.749999,60.75c0,0 1,0 2,0c2,0 6,0 9,0c5,0 12,0 16,0c5,0 11,0 17,0c5,0 9,0 14,0c3,0 7,0 11,0c2,0 5,0 7,0c2,0 2,0 3,0l0,0" id="svg_13" stroke-width="1.5" stroke="#000" fill="none"/>
       <rect stroke="#000" transform="rotate(-17 106.32321166992185,35.55720138549805) " id="svg_24" height="12.696736" width="67.249934" y="29.208834" x="72.698247" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="#fff"/>
       <line stroke="#000" transform="rotate(-17.865694046020508 68.80091094970706,43.62630844116212) " stroke-linecap="null" stroke-linejoin="null" id="svg_25" y2="47.475105" x2="61.478081" y1="39.777512" x1="76.123732" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" fill="none"/>
       <line stroke-linecap="null" stroke-linejoin="null" id="svg_28" y2="47.5" x2="50.499999" y1="47.5" x1="11.499999" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none"/>
       <line stroke-linecap="null" stroke-linejoin="null" id="svg_29" y2="74.5" x2="70.499999" y1="74.5" x1="11.499999" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none"/>
       <line stroke-linecap="null" stroke-linejoin="null" id="svg_30" y2="51.5" x2="77.499999" y1="50.5" x1="63.499999" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none"/>
      </g>
     </svg>
     <h1 id="h11">A Note-taking App</h1>
   <style>
   .container {cursor: url("/static/svg1.svg"), auto;}
   </style>
   <img src="static/svg1.svg">
   <div id="usernamedisplay"class="col-sm-400" style="background-color:lavender;"> hi, {{ user.username }}</div>
   </div>
   </div>
    {% block content %}{% endblock content %}
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    


   <div class="footer " >
      CS1XA3 McMaster University  
   </div>
</body>

</html>
