
<html>
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{title}}</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://mac1xa3.ca/e/puy4/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   {%if user.is_authenticated %}
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      
      <a class="nav-item nav-link active" href="https://mac1xa3.ca/e/puy4/notes">Notes <span class="sr-only">(current)</span></a>
      
    </div>
  </div>
  {% endif %}
</nav>
   <svg id= "kk" style=" z-intex:-1000" width="810" height="510" xmlns="http://www.w3.org/2000/svg">
 <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
 <g>
  <title>background</title>
  <rect fill="#fff" id="canvas_background" height="512" width="812" y="-1" x="-1"/>
  <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
   <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
  </g>
 </g>
 <g>
  <title>Layer 1</title>
  <line stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_2" y2="216.4375" x2="231.5" y1="218.4375" x1="228.5" stroke-width="1.5" stroke="#000" fill="none"/>
  <rect id="svg_3" height="187" width="143" y="113.4375" x="174.5" stroke-width="1.5" stroke="#000" fill="#fff"/>
  <path d="m183.5,140.4375c1,0 3,0 13,0c9,0 23,0 37,0c8,0 16,0 20,0l2,0l0,0" id="svg_8" stroke-width="1.5" stroke="#000" fill="none"/>
  <path d="m188.5,159.4375c0,0 1,0 4,0c12,0 24,0 37,0c12,0 18,0 22,0c2,0 3,0 3,0l1,0" id="svg_9" stroke-width="1.5" stroke="#000" fill="none"/>
  <path d="m190.5,183.4375c0,1 0,1 3,1c10,0 18,0 38,0c8,0 14,0 18,0l1,0l1,0" id="svg_10" stroke-width="1.5" stroke="#000" fill="none"/>
  <path d="m187.5,218.4375c0,0 0,0 5,0c6,0 16,0 24,0c6,0 11,0 15,0l2,0l1,0" id="svg_11" stroke-width="1.5" stroke="#000" fill="none"/>
  <path d="m191.5,267.4375c1,0 2,0 7,0c9,0 20,0 31,0c11,0 21.038086,-0.326813 31,1c6.02951,0.80307 10,1 13,1c3,0 4,0 4,0l1,0" id="svg_12" stroke-width="1.5" stroke="#000" fill="none"/>
  <path d="m191.5,243.4375c0,0 1,0 2,0c2,0 6,0 9,0c5,0 12,0 16,0c5,0 11,0 17,0c5,0 9,0 14,0c3,0 7,0 11,0c2,0 5,0 7,0c2,0 2,0 3,0l0,0" id="svg_13" stroke-width="1.5" stroke="#000" fill="none"/>
  <line stroke-linecap="null" stroke-linejoin="null" id="svg_14" y2="145.4375" x2="389.5" y1="187.4375" x1="278.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none"/>
  <line stroke-linecap="null" stroke-linejoin="null" id="svg_15" y2="142.4375" x2="387.5" y1="178.4375" x1="406.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none"/>
  <line stroke-linecap="null" stroke-linejoin="null" id="svg_16" y2="216.4375" x2="294.5" y1="184.4375" x1="279.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none"/>
  <line stroke-linecap="null" stroke-linejoin="null" id="svg_17" y2="217.4375" x2="293.5" y1="174.4375" x1="404.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none"/>
  <line stroke-linecap="null" stroke-linejoin="null" id="svg_18" y2="209.4375" x2="267.5" y1="186.4375" x1="279.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none"/>
  <line stroke-linecap="null" stroke-linejoin="null" id="svg_19" y2="211.4375" x2="268.5" y1="215.4375" x1="293.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none"/>
  <line stroke-linecap="null" stroke-linejoin="null" id="svg_20" y2="177.4375" x2="393.5" y1="153.4375" x1="368.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="none"/>
 </g>
</svg>
  <style>
    #usernamedisplay {font-size: 75%;}
    .footer {position: fixed;left:0;bottom: 0;width: 100%;background-color: red; color: white; text-align: center;}
  </style>

   <div class="jumbotron text-center">
      <h1 id="h11">A Note-taking App</h1>


   <div id="usernamedisplay"class="col-sm-400" style="background-color:lavender;"> hi, {{ user.username }}</div>
   </div>
    {% block content %}{% endblock content %}
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



   <div class="footer " >
      footer
   </div>
</body>

</html>
