{% extends "base.html" %}

{% block content %}

<form id="form">
  <div class="form-group">
    <label for="Email1">Email address</label>
    <input name="Email1" type="email" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">Please double check</small>
  </div>

  <div class="row">
    <div class="col">
      <input name="firstname" type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input name="lastname" type="text" class="form-control" placeholder="Last name">
    </div>
  </div>

  <div class="form-group">
    <label for="Select1">Select a reason</label>
    <select name="reason" class="form-control" id="Select1">
      <option>No idea how this website works</option>
      <option>Notice a bug</option>
      <option>Notice many bugs</option>
      <option>Others</option>
    </select>
  </div>

  <div class="form-group">
    <label for="Textarea1">Enter your message here</label>
    <textarea name="text" class="form-control" id="Textarea1" rows="3"></textarea>
  </div>

  <input type="submit" class="btn btn-primary" onclick="func()" value="submit" />
</form>
<div id="b" style="visibility:hidden"></div>
<div id="d"></div>

{% block javascript %}

  <script>
  function func() {
      var formData = JSON.stringify($("form").serializeArray());
      console.log(formData)
      var xhr = new XMLHttpRequest();
      xhr.open('POST', 'test.php');
      xhr.send(formData);


    }

  </script>
{% endblock %}
{% endblock %}
