{% extends "base.html" %}

{% block content %}
 {% if not user.is_authenticated %}
   <div class="container">
      <div class="row">
         <div id="loginbut"class="col text-center" style="background-color:lavender;">
                   Login
         </div>
         <div id="accountcreatebut"class="col text-center" style="background-color:orange;">
          create a account
         </div>
      </div>
   </div>
 {% endif %}
 <script>
    var loginbut = document.getElementById('loginbut');
    var accountcreatebut = document.getElementById('accountcreatebut');

    loginbut.style.cursor = 'pointer';
    loginbut.onclick = function() {
         window.location.href = "login";
    };

    accountcreatebut.style.cursor = 'pointer';
    accountcreatebut.onclick = function() {
         window.location.href = "register";
    };


 </script>
 {% if user.is_authenticated %}
    <div id="logoutbut" class="col text-center" style="background-color:lavender;;">
          logout
         </div>

  {% endif %}
  <script>
      var logoutbut = document.getElementById('logoutbut');
      logoutbut.style.cursor = 'pointer';
      logoutbut.onclick = function() {
           window.location.href = "logout";
      };

  </script>
{% endblock %}
