{% extends "base.html" %}
    
{% block content %} 
 {% if not user.is_authenticated %}
   <div class="container">
      <div class="row">
         <div id="loginbut"class="col text-center" style="background-color:lavender;">
                   Login
         </div>
         <div id="accountcreatebut"class="col text-center" style="background-color:orange;">
          create a account
         </div>
         <div id="logoutbut" class="col text-center" style="background-color:lavender;;">
          logout
         </div>
      </div>
   </div>
 {% endif %}
 {% if user.is_authenticated %}
    <div id="logoutbut" class="col text-center" style="background-color:lavender;;">
          logout
         </div>
  {% endif %}
   <script>
      var loginbut = document.getElementById('loginbut');
      var accountcreatebut = document.getElementById('accountcreatebut');
      var logoutbut = document.getElementById('logoutbut');

      loginbut.style.cursor = 'pointer';
      loginbut.onclick = function() {
           window.location.href = "login";
      };

      accountcreatebut.style.cursor = 'pointer';
      accountcreatebut.onclick = function() {
           window.location.href = "accountcreatebut";
      };

      logoutbut.style.cursor = 'pointer';
      logoutbut.onclick = function() {
           window.location.href = "logoutbut";
      };


   </script>  
{% endblock %}
