{% extends "base.html" %}

{% block content %}
   <header>
      <h1>A Note-taking App</h1>
   </header>
   
   <h3>hi, {{ user.username }}</h3>
 
   <div>
   {% for note in notes %}
     <p>{{ note.content }}</p>
     <p>{{ note.date}}</p>
     <p>{{ note.user}}</p>
   </div> 
   {% endfor %}

   <div>
      <br></br><br></br> 
      <textarea rows="10" cols="10" form="postform"></textarea>
      <form name="postform" method="POST" id="postform">
          <input type="submit" value="upload">
      </form>
   </div>
{% endblock %}


