{% extends "base.html" %}

{% block content %}
    <header>
       <div class="col "style="background-color:#79c2ff;font-size:150%;"><p style="color:#feffff">{{user}}'s notes</p></div> 
    </header>
       
   {% for note in notes %}
    
          <li class="list-group-item"> {{ note.content }} <p style="font-size:25%;.">{{ note.date }}</p></li>
            
      <script>
      var classes = ["list-group-item list-group-item-success","list-group-item list-group-item-secondary","list-group-item list-group-item-info" 
,"list-group-item list-group-item-info",
"list-group-item list-group-item-info","list-group-item list-group-item-info","list-group-item list-group-item-info",
"list-group-item list-group-item-info",] 
      </script>
   {% endfor %}
        
       
{% endblock %}


