{% extends "base.html" %}

{% block javascript %}
  <script>
    $("#email").change(function () {
      var email = $(this).val();

      $.ajax({
        url: '/ajax/email/',
        data: {
          'email': email
        },
        dataType: 'json',
        success: function (data) {
          if (data.validateemail) {
            alert("must have @");
          }
        }
      });

    });
  </script>
{% endblock %}

{% block content %}
   {% if messages %}
         <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
         </ul>
   {% endif %}
   <div>
      <form name="theform" method="POST" id="theform"> {% csrf_token %}
            {{ form }}
          <input type="submit" value="send">
      </form>
   </div>
{% endblock %}
