{% extends "base.html" %}


{% block content %}
   {% if messages %}
         <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
         </ul>
   {% endif %}
   <div>
      <form name="theform" method="POST" id="theform"> {% csrf_token %}
            {{ form }}
          <input type="submit" value="send">
      </form>
   </div>


   {% block javascript %}
     <script>
     function func() {
         var formData = JSON.stringify($("#theform").serializeArray());
         $.post('test.php', {
           elements: formData
         });
         console.log(formData)
       }

     </script>
   {% endblock %}
{% endblock %}
