{% extends "base.html"  %}



{% block content %}


   <div class="login">


   <div class="row"> 
     <div class="col"><h1 style="position: absolute;
top: 0; bottom: 0; left: 0; right: 0;margin: auto;
width: 100px; height: 100px;color:blue">Create account<h1></div>
     <div class="col ">
        <form method="POST">
           {% csrf_token %}
              {{ form.as_p }}
           <input type="submit" name="submit" value="register">
        </form>
        <br></br>
     </div>   
    </div>
{% endblock %}
